<xf:macro name="word_count" arg-input="{{ [] }}">
	<xf:formrow label="{{ phrase('word_count') }}">
		<div class="inputGroup">
			<xf:numberbox name="c[word_count][lower]" 
						  size="5" min="0" step="1" required=""
						  class="input--number" 
						  value="{{ $input.c.word_count.lower ?: '' }}" 
						  placeholder="{{ phrase('word_count_lower_bound') }}" /> 
			<span class="inputGroup-text">-</span>
			<xf:numberbox name="c[word_count][upper]" 
						  class="input--number" 
						  size="5" min="0" step="1" required=""
						  value="{{ $input.c.word_count.upper ?: '' }}" 
						  placeholder="{{ phrase('word_count_upper_bound') }}" />
		</div>
	</xf:formrow>
</xf:macro>

<xf:macro name="word_count_quick" arg-input="{{ [] }}">
<div class="menu-row">
	<div class="inputGroup">
		<span class="inputGroup-text">{{ phrase('word_count') }}:</span>
		<input class="input" 
			   name="c[word_count][lower]" 
			   value="{$input.c.word_count.lower}" 
			   placeholder="{{ phrase('word_count_lower_bound') }}" /> 
	</div>
</div>
</xf:macro>