<xf:macro name="selected_filters" arg-route="!" arg-contentParent="{{ null }}" arg-filters="!">
	<xf:if is="$filters.min_word_count">
		<li><a href="{{ link($route, $contentParent, $filters|replace('min_word_count', null)) }}"
			   class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('remove_this_filter')|for_attr }}">
			<span class="filterBar-filterToggle-label">{{ phrase('svWordCountSearch_minimum_word_count:') }}</span>
			{$filters.min_word_count}</a></li>
	</xf:if>

	<xf:if is="$filters.max_word_count">
		<li><a href="{{ link($route, $contentParent, $filters|replace('max_word_count', null)) }}"
			   class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('remove_this_filter')|for_attr }}">
			<span class="filterBar-filterToggle-label">{{ phrase('svWordCountSearch_maximum_word_count:') }}</span>
			{$filters.max_word_count}</a></li>
	</xf:if>
</xf:macro>

<xf:macro name="filter_inputs" arg-filters="!" arg-contentParent="{{ null }}">
	<xf:css src="svWordCountSearch_macros_filter_inputs.less" />

	<xf:if is="$xf.app.em.getRepository('SV\WordCountSearch:WordCount').isThreadWordCountSupported($contentParent)">
		<!--[SV/WordCountSearch:above_min_word_count]-->
		<div class="menu-row menu-row--wordCountSearch">
			{{ phrase('forum_sort.word_count:') }}
			<div class="inputGroup u-inputSpacer">
				<span class="u-srOnly" id="ctrl_min_word_count">{{ phrase('svWordCountSearch_minimum_word_count') }}</span>
				<xf:numberbox name="min_word_count" data-xf-init="tooltip" title="{{ phrase('minimum') }}" value="{{ $filters.min_word_count ?: 0 }}" aria-labelledby="ctrl_min_word_count" />

				<span class="inputGroup-splitter"></span>

				<span class="u-srOnly" id="ctrl_max_word_count">{{ phrase('svWordCountSearch_maximum_word_count') }}</span>
				<xf:numberbox name="max_word_count" data-xf-init="tooltip" title="{{ phrase('maximum') }}" value="{{ $filters.max_word_count ?: 0 }}" aria-labelledby="ctrl_max_word_count" />
			</div>
		</div>
	</xf:if>
</xf:macro>