<xf:css src="svWordCountSearch_forum_filters_min_max_word_count.less" />

<!--[SV/WordCountSearch:above_min_word_count]-->
<div class="menu-row menu-row--wordCountSearch">
	{{ phrase('svWordCountSearch_minimum_word_count:') }}
	<div class="inputGroup u-inputSpacer">
		<span class="u-srOnly" id="ctrl_min_word_count">{{ phrase('svWordCountSearch_minimum_word_count') }}</span>
		<xf:textbox name="min_word_count" value="{{ $filters.min_word_count ?: '' }}" aria-labelledby="ctrl_min_word_count" type="number" />
	</div>
</div>

<!--[SV/WordCountSearch:above_max_word_count]-->
<div class="menu-row menu-row--wordCountSearch">
	{{ phrase('svWordCountSearch_maximum_word_count:') }}
	<div class="inputGroup u-inputSpacer">
		<span class="u-srOnly" id="ctrl_max_word_count">{{ phrase('svWordCountSearch_maximum_word_count') }}</span>
		<xf:textbox name="max_word_count" value="{{ $filters.max_word_count ?: '' }}" aria-labelledby="ctrl_max_word_count" type="number" />
	</div>
</div>